<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msr.msrpm.ei.mapper.EmployeeMapper">
    <select id="getAll" resultMap="allemployeeMap">
    SELECT
    e.`name`,e.`workID`,e.`gender`,d.`name` AS depName,e.`birthday`,e.`idCard`,
    e.`wedlock`,e.`nativePlace`,n.`name` AS nationName,ps.`name` AS politicName,
    e.`email`,e.`phone`,e.`address`,j.`name` AS jobName,p.`name` AS posName,
    f.`name` AS formName,t.`name` AS degreeName,e.`specialty`,e.`school`,e.`beginDate`,
    w.`name` AS stateName,e.`contractTerm`,e.`conversionTime`,e.`notWorkDate`,
    e.`beginContract`,e.`endContract`,e.`workAge`,e.`gmt_create`,e.`gmt_modified`
    FROM employee e
    JOIN department d ON e.`departmentId` = d.`id`
    JOIN nation n ON e.nationId = n.id
    JOIN politicsstatus ps ON e.politicId = ps.id
    JOIN joblevel j ON e.jobLevelId = j.id
    JOIN position p ON e.posId = p.id
    JOIN engageform f ON e.formId = f.id
    JOIN tiptopdegree t ON e.degreeId = t.id
    JOIN workstate w ON e.stateIId = w.id
</select>
    <resultMap id="allemployeeMap" type="com.msr.msrpm.ei.entity.Employee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="idCard" property="idCard"/>
        <result column="wedlock" property="wedlock"/>
        <result column="nationId" property="nationId"/>
        <result column="nativePlace" property="nativePlace"/>
        <result column="politicId" property="politicId"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="departmentId" property="departmentId"/>
        <result column="jobLevelId" property="jobLevelId"/>
        <result column="posId" property="posId"/>
        <result column="formId" property="engageForm"/>
        <result column="degreeId" property="tiptopDegree"/>
        <result column="specialty" property="specialty"/>
        <result column="school" property="school"/>
        <result column="beginDate" property="beginDate"/>
        <result column="stateIId" property="workState"/>
        <result column="workID" property="workID"/>
        <result column="contractTerm" property="contractTerm"/>
        <result column="conversionTime" property="conversionTime"/>
        <result column="notWorkDate" property="notWorkDate"/>
        <result column="beginContract" property="beginContract"/>
        <result column="endContract" property="endContract"/>
        <result column="workAge" property="workAge"/>

        <association property="department" javaType="com.msr.msrpm.ei.entity.Department">
            <result column="depName" property="name"/>
        </association>
        <association property="engageform" javaType="com.msr.msrpm.ei.entity.Engageform">
            <result column="formName" property="name"/>
        </association>
        <association property="joblevel" javaType="com.msr.msrpm.ei.entity.Joblevel">
            <result column="jobName" property="name"/>
        </association>
        <association property="nation" javaType="com.msr.msrpm.ei.entity.Nation">
            <result column="nationName" property="name"/>
        </association>
        <association property="politicsstatus" javaType="com.msr.msrpm.ei.entity.Politicsstatus">
            <result column="politicName" property="name"/>
        </association>
        <association property="position" javaType="com.msr.msrpm.ei.entity.Position">
            <result column="posName" property="name"/>
        </association>
        <association property="tiptopdegree" javaType="com.msr.msrpm.ei.entity.Tiptopdegree">
            <result column="degreeName" property="name"/>
        </association>
        <association property="workstate" javaType="com.msr.msrpm.ei.entity.Workstate">
            <result column="stateName" property="name"/>
        </association>
    </resultMap>

</mapper>
